[Logger]
Level = info
EnableFileLogging = false    
LogFileName = true

# The length of columns
FileNameLength = 20
FuncNameLength = 20
ThreadIdLength = 10

# the path and the component name
FilePath = src/Output/comp.log